
/* 
    Created on : 14/03/2019, 13:41:48
    Author     : kyomei
    Style      : style noticias principais
*/

// Area principal das noticias
.container {
    width: 100%;
    max-width: 1040px;
    background-color: #ccc;
    margin: auto;

    .containerint {

        // Estilo para bloco da area de noticias
        .widget {
            border: 1px solid #ccc;
            background-color: #fff;
            margin-bottom: 10px;
            border-radius: 3px;

            // Estilo para titulo do bloco
            .widget_titulo {
                height: 30px;
                line-height: 30px;
                padding-left: 5px;
                font-size: 14px;
                background-color: #ddd;
                border-bottom: 1px solid #ccc;
            }

            // Estilo para area de conteudo do bloco
            .widget_conteudo {
                padding: 5px 10px; 
                font-size: 14px;

                // Estilo para os paragrafos dentro dos blocos da coluna direita
                p { 
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;

                    // Estilo para os links dos paragrafos
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }

                .noticia-area1 {
                    width: 411px;
                    float: left;
                    height: 420px;
                    background-color: red;
                }

                .noticia-area2 {
                    padding-left: 31px;
                    box-sizing: border-box;
                    width: 320px;
                    height: 420px;
                    float: left;
                    background-color: blue;                   
                }
                .noticia-big {
                    .noticia-titulo {
                        font-size: 30px !important;
                        width: 400px !important;
                    }
                }
                .noticia-item {
                    height: 88px;
                    margin: 7px 0;
                    
                    .noticia-img {
                        float: left;
                    }
                    .noticia-titulo {
                        float: left;
                        font-size: 16px;
                        margin-left: 6px;
                        width: 195px;
                        background: #ddd;
                    }
                    .noticia-info {
                        font-size: 12px;
                        margin-left: 6px;
                        color: #999;                        
                        width: 195px;
                        float: left;
                    }
                }

            }
        }

        // Estilo para coluna da esquerda
        .leftside {
            float: left;
            width: 753px;

            .carousel {
                height: 335px;
                background: #ccc;
                overflow: hidden;
                margin-bottom: 20px;

                .slidebolinhas {
                    position: absolute;
                    width: 200px;
                    height: 20px;

                    .bolinha {
                        width: 20px;
                        height: 20px;
                        float: left;
                        margin-right: 5px;
                        cursor: pointer;
                        border-radius: 10px;
                        background-color: #ccc;
                    }
                }

                .carousel-area {
                    width:100000px;
                    height: 335px;
                    transition: all 1s;

                    .slide {
                        height: 335px;
                        float: left;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        .slideinfo {
                            height: 70px;
                            margin-top: 275px;
                            background-image: url('../images/slideshow_bg.png');
                            background-size: auto 70px;
                            color: #fff;
                            padding-left: 20px;

                            .slideinfo_titulo {
                                font-size: 20px;
                                padding-top: 15px;
                            }

                        }
                    }
                }
            }

        }

        // Estilo para coluna da direita
        .rightside {
            width: 275px;
            min-height: 200px;
            float: right;
            margin-left: 12px;            
        }
    }
}