/* 
    Created on : 13/03/2019, 09:46:52
    Author     : kyomei
*/

body {
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}
// Ocultar elementos na pagina
.d-none { display: none; }
.text-center { text-align: center;}
.img-responsive { max-width: 100%; }
@import "topo.scss";
@import "topo2.scss";
@import "navbar.scss";
@import "paginas.scss";